.centering-block {
 text-align: center;
}
.centering-block .centering-block-inner {
 text-align: left;
 display: inline-block;
}
body {
    background-color: #323232;
    background-size: cover;
    color: white;
    }
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  width: 200px;
  height: auto;
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #b942b9;
  color: white;
}
.fa-github {
  background: #0c1217;
  color: white;
}
.fa-linkedin {
  background: #153853;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
p{
  text-indent: 3em;
}
h3{
  text-indent: 1em;
}

nav {
  overflow: hidden;
  text-align: center; 
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block; 
}

nav li {
  display: inline-block; 
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

.graph-container {
  display: flex;
  justify-content: center;
}

.logo {
  padding-left: 1em;
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.logo-text {
  display: flex;
  align-items: center;
}

.logo-text img {
  padding-left: 1em;
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.logo-text p {
  margin: 0;
}

.sns img {
  padding-left: 3em;
}
