.centering-block {
  text-align: center;
}

.centering-block .centering-block-inner {
  text-align: left;
  display: inline-block;
}

body {
  background-color: white;
  background-size: cover;
  color: black;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: #0c1217;
  color: white;
}

.fa-linkedin {
  background: #153853;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

p {
  text-indent: 0em;
}

h3 {
  text-indent: 1em;
  font-weight: normal;
}

nav {
  overflow: hidden;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav li a {
  background-color: white; 
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: white; 
}

.logo {
  padding-left: 1em;
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.logo-text {
  display: flex;
  align-items: center;
}

.logo-text img {
  padding-left: 1em;
  width: 70px;
  height: auto;
  margin-bottom: 20px;
}

.logo-text p {
  margin: 0;
}

.sns img {
  padding-left: 3em;
}

canvas {
  display: block;
  margin: 0 auto;
}

.text-container p {
  margin: 0;
}

.text-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .text-container {
    padding: 10px;
    max-width: 100%; 
  }

  .logo-text img, .sns img {
    width: 50px; 
  }

  nav li a {
    padding: 10px 12px;
  }
}
